.item-style {
    width: 100%;
    height: 100%;
    overflow: auto; /* 컨텐츠가 넘칠 경우 스크롤바 표시 */
    box-sizing: "border-box";
    padding: "1px";
    border: "1px solid #ccc";
    position: relative;
    text-align: center;
    border-radius: 5px;
}

.item-header {
    font-family: "Gamja Flower", sans-serif;
    text-align: center;
    margin-bottom: 0.25rem;
    background-color: #1B6686;
    border-bottom: 2px solid #e2e8f0; 
    color: #f8fafc;
}

.rbc-toolbar {
    font-size: 12px;
}
  
.rbc-btn-group button {
    font-size: 12px;
}

.rbc-time-gutter .rbc-time-slot {
    background-color: transparent !important;
}

.rbc-time-gutter .rbc-time-slot::after {
    content: none !important;
}

.slot-lunch-bg {
    background-color: #e0e0e0 !important;
}
  
  /* 점심시간 강조 텍스트 */
.slot-lunch-label {
    background-color: #e0e0e0 !important;
    position: relative;
}
  .slot-lunch-label::after {
    content: "🍱 점심시간";
    position: absolute;
    top: 2px;
    left: 4px;
    font-size: 11px;
    background-color: #fff3cd;
    color: #d2691e;
    padding: 2px 6px;
    border-radius: 4px;
    /* z-index: 1; */
    pointer-events: none;
}
